* {
    box-sizing: border-box;
    font-family: sans-serif;
}

input {
    display: block;
}

.notes-ul {
    padding: 0;
}

.note-li{
    list-style-type: none;
    padding: 16px;
    box-shadow: 0px 0px 16px -8px black;
}